<!DOCTYPE html>
<html lang="ja">
  <!-- head -->
  <%- include("./parts/_head",{ path:".", }) -%>

  <body>
    <!-- header -->
    <%- include("./parts/_header",{ path:".", }) -%>

    <main class="main">
      <!-- blog -->
      <%- include("./parts/_archive-ai",{ path:".", }) -%>
      <!-- footer -->
      <%- include("./parts/_footer",{ path:".", }) -%>
      <!-- to-top -->
      <%- include("./parts/_to-top",{ path:".", }) -%>
    </main>
  </body>
</html>
